<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>My Webpage</title>
</head>
<body>
    <p>これからの天気を表示します</p>
    <table border="1">
        <thead>
            <tr>
                <th>日時</th>
                <th>気温</th>
                <th>湿度</th>
                <th>気圧</th>
                <th>アイコン</th>
            </tr>
        </thead>
        <tbody>
            {% for f in forecasts %}
            <tr>
                <td>{{f.time}}</td>
                <td>{{f.temp}}</td>
                <td>{{f.humidity}}</td>
                <td>{{f.pressure}}</td>
                <td><img src="https://openweathermap.org/img/wn/{{f.icon}}.png"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
​
    <form method="POST" action="/forecast">
        <label for="placeInput">地名を入力<label>
        <input id="placeInput" name="place">
        <input type="submit" value="送信！">
    </form>
</body>
</html>